@import './file1.less';

// NOTE màu tím
@primary-color-2: #722ed1;

.btn-primary-2 {
  background: @primary-color-2 !important ;
  border-color: @primary-color-2 !important;
  color: #ffffff !important;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.ant-table-wrapper {
  width: 100%;
}
